services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: video_app
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  adminer:
    image: adminer:latest
    container_name: adminer
    ports:
      - "8080:8080"
    depends_on:
      - postgres

  api:
    build: ./api
    container_name: api
    env_file: .env
    ports:
      - "3000:3000"
    volumes:
      - ./storage:/app/storage
    depends_on:
      - postgres
      - redis

  encoder:
    build: ./encoder
    container_name: encoder
    env_file: .env
    volumes:
      - ./storage:/app/storage
    depends_on:
      - postgres
      - redis

volumes:
  pgdata:
